body {
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  font-family: sans-serif;
}

#app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.app-icon {
  background-color: #282828;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.app-icon:hover {
  background-color: #383838;
}

.app-icon img {
  width: 64px;
  height: 64px;
}

.app-icon p {
  margin: 5px 0 0; /* Reduced margin */
  font-size: 12px; /* Reduced font size */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#edit-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background-color: #282828;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 15px;
  color: white;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#edit-form input, #edit-form button {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0 15px 0;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #333;
  color: white;
}

.form-app-entry {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.app-name-input {
  flex-grow: 1;
}

.app-url-input {
  flex-grow: 2;
}
